<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>National Greenhouse and Energy Register Analysis</title>
  <style>
    #buttonGroup {
      margin: 50px auto;
    }

    #buttonGroup button {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      font-size: larger;
    }
    a{
      text-decoration: none;
    }
  </style>
</head>

<body>
  <h1>National Greenhouse and Energy Register 2021-22 Data and Analyse</h1>
  <div id="buttonGroup">
    <div><a href="data/set1"><button>Controlling corporations registered</button></a></div>
    <div><a href="data/set2"><button>Reporting Transfer Certificate holders</button></a></div>
    <div><a href="data/set3"><button>Controlling corporations that were deregistered</button></a></div>
    <div><a href="data/set4"><button>Responsible emitters (Safeguard Mechanism) registered</button></a></div>
    <div><a href="data/analyse"><button>Analyse</button></a></div>
  </div>
</body>

</html>